<template data-controller-name="de.blue_danube_it.blueui5.controllers.sandbox.markus.Navigation">
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Container">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.PageHeader" data-header-text="Sand Box" data-sub-text="Markus's play ground!"></div>
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Lead" data-text="Testing place of Markus's developments."></div>

		<!-- Odata testing -->
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Navigation to odata sand box">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-text="Load odata sand box" data-use-button="true" data-use-button-tag="true" data-button-class="primary" data-view-name="de.blue_danube_it.blueui5.views.odata.Main" data-view-type="HTML" data-view-id="sandbox-markus-testing" data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked">
			</div>
		</div>
		<!-- Template Tests -->
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Template tests">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-text="Load TestTemplate" data-use-button="true" data-use-button-tag="true" data-button-class="primary" data-view-name="de.blue_danube_it.blueui5.views.sandbox.markus.TestTemplate" data-view-type="HTML" data-view-id="sandbox-markus-test_template" data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked">
			</div>
		</div>
		
		<!-- Buttons -->
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Test Buttons">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-text="Load Buttons test" data-use-button="true" data-use-button-tag="true" data-button-class="primary" data-view-name="de.blue_danube_it.blueui5.views.ui_commons.button.DefaultSetup" data-view-type="HTML" data-view-id="ui_commons-default_setup" data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked">
			</div>
		</div>
		
		<div id="boTable1" data-sap-ui-type="de.pksoftware.bootstrapui5.controls.table.Table"></div>

		<div id="boTable2" data-sap-ui-type="de.pksoftware.bootstrapui5.controls.table.Table" data-responsive="true"></div>
		<div id="boTable3" data-sap-ui-type="de.pksoftware.bootstrapui5.controls.table.Table" data-responsive="false" data-bordered="false"></div>
	</div>
	
	
	<div data-sap-ui-type="sap.ui.commons.layout.VerticalLayout">
		<div data-sap-ui-aggregation="content">
			<div id="sapTable" data-sap-ui-type="sap.ui.table.Table"></div>
		</div>
	</div>
</template>
