<template
	data-controller-name="de.blue_danube_it.blueui5.controllers.sandbox.markus.TestTemplate">
<div data-sap-ui-type="app.controls.templates.Common"
	data-header="My TEST" data-header-sub="MY TEST SUB"
	data-lead-text="Some not realy long text!">
	
	<!-- Demos Content -->
	<div data-sap-ui-aggregation="demos">
		<div data-sap-ui-type="sap.ui.table.Table"
			data-navigation-mode="Paginator">
			<div data-sap-ui-aggregation="title">
				<div id="table_title" data-sap-ui-type="sap.ui.commons.TextView"
					data-text="Table Title"></div>
			</div>
			<div data-sap-ui-aggregation="toolbar">
				<div data-sap-ui-type="sap.ui.commons.Toolbar">
					<div data-sap-ui-aggregation="items">
						<div data-sap-ui-type="sap.ui.commons.Button" data-text="Bind"
							data-press="onBind"></div>
						<div data-sap-ui-type="sap.ui.commons.Button" data-text="Unbind"
							data-press="onUnBind"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Descriptions Content -->
	<div data-sap-ui-aggregation="descriptions">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading"
			data-icon="glyphicon glyphicon-list"
			data-header-text="Service Content"
			data-sub-text="Sub text: Description?">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Paragraph"
				data-text="Bind">
				<div
					data-sap-ui-type="de.blue_danube_it.utils5.prettify.PrettyPrint"
					data-source="{pretty>/onBind}"></div>
			</div>
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Paragraph"
				data-text="Unbind">
				<div
					data-sap-ui-type="de.blue_danube_it.utils5.prettify.PrettyPrint"
					data-source="{pretty>/onUnBind}"></div>
			</div>
		</div>
	</div>
</div>
</template>
