html, body{
	height: 100% !important;
}

#doc-header{
	hseight:50px;overflow:hidden;
}

#doc-content{
	hseight:90%;
}

.sandbox{
	line-height: 50%;
    float:left;
}

.sandbox div a{
	font-size: 5px;
	background-color: #FFFFFF;
}