<template data-controller-name="de.blue_danube_it.blueui5.controllers.sven.MyView">
<div data-sap-ui-type="sap.ui.commons.layout.VerticalLayout">
	<div data-sap-ui-aggregation="content">
		<div data-sap-ui-type="sap.ui.commons.TextView" data-text="lala"></div>
		<div data-sap-ui-type="sap.ui.commons.TextView" data-text="lala2"></div>
	</div>
	<div data-sap-ui-type="sap.ui.commons.layout.HorizontalLayout">
		<div data-sap-ui-aggregation="content">
			<div data-sap-ui-type="sap.ui.commons.TextView" data-text="lala"></div>
			<div data-sap-ui-type="sap.ui.commons.TextView" data-text="lala2"></div>
		</div>
	</div>
</div>
</template>
