<template data-controller-name="de.blue_danube_it.blueui5.controllers.sandbox.Navigation">

	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Container">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.PageHeader" data-header-text="Sand Box" data-sub-text="Developers play ground!"></div>
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Lead" data-text="Welcome dear user, you are now on our developers testing section. In this section we develop and test our applications."></div>

		<!-- Odata testing -->
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Navigation to odata sand box">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-text="Load odata sand box" data-use-button="true" data-use-button-tag="true" data-button-class="primary" data-view-name="de.blue_danube_it.blueui5.views.sandbox.odata.Testing" data-view-type="HTML" data-view-id="sandbox-odata_testing" data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked">
			</div>
		</div>
		
		<!-- Sven testing -->
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Navigation to Sven's sand box">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-text="Load Sven's sand box" data-use-button="true" data-use-button-tag="true" data-button-class="primary" data-view-name="de.blue_danube_it.blueui5.views.sandbox.sven.MyView" data-view-type="HTML" data-view-id="sandbox-sven_my_view" data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked">
			</div>
		</div>
		
		<!-- Marius testing -->
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Navigation to Marius's sand box">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-text="Load Marius's sand box" data-use-button="true" data-use-button-tag="true" data-button-class="primary" data-view-name="de.blue_danube_it.blueui5.views.sandbox.marius.MyView" data-view-type="HTML" data-view-id="sandbox-marius_my_view" data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked">
			</div>
		</div>
	</div>
</template>
