<template data-controller-name="de.blue_danube_it.blueui5.controllers.odata.Testing">
<div data-sap-ui-type="sap.ui.commons.layout.VerticalLayout">
	<div data-sap-ui-aggregation="content">
		<div data-sap-ui-type="sap.ui.commons.TextView" data-text="Hallo!"></div>
		<div data-sap-ui-type="sap.ui.table.Table" data-rows="{results>/Customers}">
			<div data-sap-ui-aggregation="title">
				<div id="table_title" data-sap-ui-type="sap.ui.commons.TextView" data-text="Table Title"></div>
			</div>
		</div>
	</div>
</div>
</template>