<template
	data-controller-name="de.blue_danube_it.blueui5.controllers.odata.Testing">


<div id="odata-testing_listBox"
	data-sap-ui-type="sap.ui.commons.ListBox"
	data-items="{schema1>/entityContainer/0/entitySet}">
	<div data-sap-ui-aggregation="items">
		<div data-sap-ui-type="sap.ui.core.Item" data-text="{schema1>name}"
			data-key="{schema1>entityType}"></div>
	</div>
</div>


<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Container">
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.PageHeader" data-header-text="OData" data-sub-text="Using filter in oData!"></div>
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Lead" data-text="Lead text.!"></div>

	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-icon="glyphicon glyphicon-list" data-header-text="Service Metadata" data-sub-text="Sub text: Description?">
    	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Paragraph" data-text="How to bind Meta">
			<div data-sap-ui-type="de.blue_danube_it.utils5.prettify.PrettyPrint" data-source="{pretty>/onInit}"></div>	
		</div>
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Paragraph" data-text="View Metadata List Box setup">
			<div data-sap-ui-type="de.blue_danube_it.utils5.prettify.PrettyPrint">
			
				<div>
&lt;!-- Our list box will be associated by it's id. -->
&lt;div id="odata-testing_listBox"
	data-sap-ui-type="sap.ui.commons.ListBox"
	&lt;!-- Binding of a list of entities (entitySet) -->
	data-items="{schema1>/entityContainer/0/entitySet}">
	&lt;div data-sap-ui-aggregation="items">
		&lt;!-- Binding name of our entity to text property.-->
		&lt;div data-sap-ui-type="sap.ui.core.Item" data-text="{schema1>name}"
			&lt;!-- Binding entityType of our entity to key property.-->
			data-key="{schema1>entityType}">&lt;/div>
	&lt;/div>
&lt;/div>

				</div>
			</div>	
		</div>
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Paragraph" data-text="View Metadata associate list box to Drop down box.">
			<div data-sap-ui-type="de.blue_danube_it.utils5.prettify.PrettyPrint">
			
				<div>
&lt;!-- Label definition to our list box. -->
&lt;div data-sap-ui-type="sap.ui.commons.Label" 
	data-text="Select entity type:" 
	id="odata-dropdown_box_entity_type_Label" 
	data-label-for="odata-dropdown_box_entity_type">&lt;/div>
&lt;!-- data-list-box="odata-testing_listBox" is an assiciation to our listbox. Assiciated by id. -->
&lt;div data-sap-ui-type="sap.ui.commons.DropdownBox"
	data-list-box="odata-testing_listBox" 
	id="odata-dropdown_box_entity_type">&lt;/div>
				</div>
			</div>	
		</div>
	</div>

	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Row">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Col" data-col-count="2" data-device-type="md">
			<div data-sap-ui-type="sap.ui.commons.Label" data-text="Select entity type:" id="odata-dropdown_box_entity_type_Label" data-label-for="odata-dropdown_box_entity_type"></div>
			<div data-sap-ui-type="sap.ui.commons.DropdownBox"
				data-list-box="odata-testing_listBox" id="odata-dropdown_box_entity_type"></div>
		</div>
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Col" data-col-count="2" data-device-type="md">
			<div data-sap-ui-type="sap.ui.commons.Label" data-text="Limit:" id="odata-limit_label" data-label-for="odata-limit_text_field"></div>
			<div id="odata-limit_text_field" data-sap-ui-type="sap.ui.commons.TextField" data-value="10" data-aria-labelled-by="odata-limit_label"></div>
		</div>
		
	</div>


	<div data-sap-ui-type="sap.ui.table.Table"
		data-rows="{results>/Customers}" data-columns="{meta>/columns}">
		<div data-sap-ui-aggregation="title">
			<div id="table_title" data-sap-ui-type="sap.ui.commons.TextView"
				data-text="Table Title"></div>
		</div>
		<div data-sap-ui-aggregation="columns">
			<div data-dap-ui-type="sap.ui.table.Column">
				<div data-sap-ui-aggregation="template">
					<div data-sap-ui-type="sap.ui.commons.TextView" data-text="{name}"></div>
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="rows"></div>
		<div data-sap-ui-aggregation="toolbar">
			<div data-sap-ui-type="sap.ui.commons.Toolbar">
				<div data-sap-ui-aggregation="items">
					<div data-sap-ui-type="sap.ui.commons.Button" data-text="Bind" data-press="onBind"></div>
					<div data-sap-ui-type="sap.ui.commons.Button" data-text="Unbind" data-press="onUnBind"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-icon="glyphicon glyphicon-list" data-header-text="Service Content" data-sub-text="Sub text: Description?">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Paragraph" data-text="Bind">
			<div data-sap-ui-type="de.blue_danube_it.utils5.prettify.PrettyPrint" data-source="{pretty>/onBind}"></div>	
	   	</div>
    	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Paragraph" data-text="Unbind">
			<div data-sap-ui-type="de.blue_danube_it.utils5.prettify.PrettyPrint" data-source="{pretty>/onUnBind}"></div>	
		</div>
	</div>
</div>

</template>