<template data-controller-name="de.blue_danube_it.blueui5.controllers.Topic">
<div data-sap-ui-type="com.twitter.bootstrap.controls.Container">
	<div data-sap-ui-type="com.twitter.bootstrap.controls.PageHeader" data-header-text="Hello World"></div>
	<div data-sap-ui-type="com.twitter.bootstrap.controls.Lead" data-text="Let's start with the easiest of all examples."></div>
	
	<div data-sap-ui-type="com.twitter.bootstrap.controls.SubHeading" data-header-text="1. Create a html file" data-sub-text="Create a html file with any name (e.g. &quot;hello-world.html&quot;) and copy and paste following code snippet:"></div>
    <!-- Prettyprint test -->
    <div data-sap-ui-type="de.blue_danube_it.utils5.prettify.PrettyPrint">
    	
    		<div>
    		
&lt;!DOCTYPE html>
&lt;html>
	&lt;head>
		&lt;meta http-equiv="X-UA-Compatible" content="IE=edge" />
		&lt;meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		&lt;title></title>

		<!-- SAPUI5 Core Library -->
		&lt;script id="sap-ui-bootstrap"
		src="https://sapui5.netweaver.ondemand.com/resources/sap-ui-core.js"
		data-sap-ui-libs="sap.ui.commons"
		data-sap-ui-theme="sap_bluecrystal">&lt;/script>
	&lt;/head>
	&lt;body id="sapUiBody" class="sapUiBody" role="application">
		
		&lt;script>
			jQuery(document).ready(function() {
				//We want to see debug messages while developing
				jQuery.sap.log.setLevel(jQuery.sap.log.Level.DEBUG);
				
				var label = sap.ui.commons.Label({text : "Hello World!"});
				
				//Place the hello world label at the dom element #sapUiBody
				label.placeAt("sapUiBody");
			});
		&lt;/script>
		
	&lt;/body>
&lt;/html>
    		</div>
    	
    </div>
    <!-- END Prettyprint test -->
    
    <div data-sap-ui-type="com.twitter.bootstrap.controls.SubHeading" data-header-text="2. Open in browser" data-sub-text="Open the file you previously created with your favorite web browser."></div>
    
    
    
    
  </div>  
</template>


