<template data-controller-name="de.blue_danube_it.blueui5.controllers.Topic">
    <div data-sap-ui-type="sap.ui.commons.Label" data-text="Introduction">
         
    </div>
    
    <!-- Accordion -->
    <div data-sap-ui-type="sap.ui.commons.Accordion" data-width="200px">
         <div data-sap-ui-aggregation="sections">
         	<div data-sap-ui-type="sap.ui.commons.AccordionSection">
         		 <div data-sap-ui-aggregation="content">
         		 	<div data-sap-ui-type="sap.ui.commons.Label" data-text="Section 1"></div>
         		 </div>
         	</div> 
         	<div data-sap-ui-type="sap.ui.commons.AccordionSection">
         		 <div data-sap-ui-aggregation="content">
         		 	<div data-sap-ui-type="sap.ui.commons.Label" data-text="Section 2"></div>
         		 </div>
         	</div> 
         	<div data-sap-ui-type="sap.ui.commons.AccordionSection">
         		 <div data-sap-ui-aggregation="content">
         		 	<div data-sap-ui-type="sap.ui.commons.Label" data-text="Section 3"></div>
         		 </div>
         	</div>         	
         </div>
    </div>
    <!-- END Accordion -->
</template>


