<template
	data-controller-name="de.blue_danube_it.blueui5.controllers.Header">
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.NavBar" data-brand="BlueUI5 is a product by Blue Danube IT">
		<div data-sap-ui-aggregation="navbarLeft">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Nav" data-nav-in-navbar="true">
		    	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.NavItem">
		    		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-link-target="_blank" data-link-href="http://blue-danube-it.de" data-text="<span class='glyphicon glyphicon-briefcase'></span> Hire Us">
		    		</div>
		    	</div>
		    	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.NavItem" data-nav-active="true">
		    		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-link-target="_blank" data-link-href="http://www.blue-danube-it.de/index.php/kontakt" data-text="<span class='glyphicon glyphicon-earphone'></span> Contact">
		    		</div>
		    	</div>
    		</div>
		</div>
		
		<div data-sap-ui-aggregation="navbarRight">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Nav" data-nav-in-navbar="true">
		    	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.NavItem">
		    	
		    		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-text="<span class='glyphicon glyphicon-info-sign'></span> About">
		    		</div>
		    	</div>
		    	
    		</div>
		</div>
	</div>
	
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" data-link-class="sandbox-link" data-text="Sandbox" data-use-button="true" data-use-button-tag="false" data-view-name="de.blue_danube_it.blueui5.views.sandbox.Navigation" data-view-type="HTML" data-view-id="sandbox-navigation" data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked">
	</div>
</template>