<template data-controller-name="de.blue_danube_it.blueui5.controllers.Home">
<div data-sap-ui-type="com.twitter.bootstrap.controls.Container">
	<div data-sap-ui-type="com.twitter.bootstrap.controls.PageHeader" data-header-text="BlueUI5" data-sub-text="An alternative SAPUI5 Documentation"></div>
	<div data-sap-ui-type="com.twitter.bootstrap.controls.Lead" data-text="BlueUI5 is an alternative SAPUI5 Documentation with examples for common use cases. It's written fully in SAPUI5 and can therefore be used as a template for your SAPUI5 project."></div>
	
	<div data-sap-ui-type="com.twitter.bootstrap.controls.Row">
		<div data-sap-ui-type="com.twitter.bootstrap.controls.Col" data-col-count="6" data-device-type="md">
			<div data-sap-ui-type="com.twitter.bootstrap.controls.SubHeading" data-icon="glyphicon glyphicon-play" data-header-text="Get Started" data-sub-text="Create your first SAPUI5 application within minutes.">
				<div data-sap-ui-type="com.twitter.bootstrap.controls.Paragraph" data-text="Just a second paragraph">
					<div data-sap-ui-type="com.twitter.bootstrap.controls.Link" data-text="a link to an url" data-href="http://blue-danube-it.de"></div>
				</div>
			</div>
			<div data-sap-ui-type="com.twitter.bootstrap.controls.SubHeading" data-icon="glyphicon glyphicon-list" data-header-text="Navigation" data-sub-text="How to navigate between views.">
			</div>
			<div data-sap-ui-type="com.twitter.bootstrap.controls.SubHeading" data-icon="glyphicon glyphicon-th" data-header-text="Data Binding" data-sub-text="Binding data to the view.">
			</div>
		</div>
		<div data-sap-ui-type="com.twitter.bootstrap.controls.Col" data-col-count="6" data-device-type="md">
			<div data-sap-ui-type="com.twitter.bootstrap.controls.SubHeading" data-icon="glyphicon glyphicon-download" data-header-text="OData" data-sub-text="Using ODAta services in your SAPUI5 application.">
				<div data-sap-ui-type="com.twitter.bootstrap.controls.Link" data-text="a link to a view" data-view-name="de.blue_danube_it.blueui5.views.odata.Testing" data-view-type="HTML" data-view-id="odata-odata_in_ui5_test" data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked"></div>
			</div>
			<div data-sap-ui-type="com.twitter.bootstrap.controls.SubHeading" data-icon="glyphicon glyphicon-globe" data-header-text="Localization" data-sub-text="Make your sapui5 application available in multiple languages.">
			</div>
			<div data-sap-ui-type="com.twitter.bootstrap.controls.SubHeading" data-icon="glyphicon glyphicon-briefcase" data-header-text="Custom Controls" data-sub-text="How to create custom controls.">
			</div>
		</div>
		
	</div>
	
	
	
    </div>
</template>


