<template
	data-controller-name="de.blue_danube_it.blueui5.controllers.HomeMaster">
<div data-sap-ui-type="sap.ui.commons.Tree" data-nodes="{TreeNodes>/}" data-select="onTreeNodeSelect">
	<div data-sap-ui-aggregation="nodes">
		<div data-sap-ui-type="sap.ui.commons.TreeNode"
			data-text="{TreeNodes>text}" data-expanded="{TreeNodes>expanded}"
			data-has-expander="{TreeNodes>hasExpander}"
			data-selectable="{TreeNodes>selectable}" data-icon="{TreeNodes>icon}">
		</div>
	</div>
</div>
</template>


