<template data-controller-name="de.blue_danube_it.blueui5.controllers.Home">
<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Container">
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.PageHeader" data-header-text="BlueUI5" data-sub-text="prealpha"></div>
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Lead" data-text="BlueUI5 is an alternative SAPUI5 Documentation with examples for common use cases. It's written in SAPUI5 itself and can therefore be used as a template for your SAPUI5 desktop application."></div>
	
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Alert" data-text="<strong>Please note!</strong> BlueUI5 is currently in pre-alpha state. This means that there are only a few topics available at the moment. Nevertheless, you can already use it as powerful template for your SAPUI5 desktop applications." data-alert-class="warning"></div>
	
	
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Row">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Col" data-col-count="6" data-device-type="md">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-icon="glyphicon glyphicon-play" data-header-text="Get Started" data-sub-text="Create your first SAPUI5 application within minutes.">
			</div>
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-icon="glyphicon glyphicon-list" data-header-text="Navigation" data-sub-text="How to navigate between views.">
			</div>
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-icon="glyphicon glyphicon-th" data-header-text="Data Binding" data-sub-text="Binding data to the view.">
			</div>
		</div>
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Col" data-col-count="6" data-device-type="md">
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-icon="glyphicon glyphicon-download" data-header-text="OData" data-sub-text="Using ODAta services in your SAPUI5 application.">
				
			</div>
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-icon="glyphicon glyphicon-globe" data-header-text="Localization" data-sub-text="Make your sapui5 application available in multiple languages.">
			</div>
			<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-icon="glyphicon glyphicon-briefcase" data-header-text="Custom Controls" data-sub-text="How to create custom controls.">
			</div>
		</div>
		
	</div>
	
	
	
    </div>
</template>


