<template data-controller-name="de.blue_danube_it.blueui5.controllers.sandbox.marius.MyView">
<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Container">
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.PageHeader" 
		data-header-text="Sandbox" 
		data-sub-text="This is Marius' playground. Parents are responsible for their children."></div>
	
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Go to the XML playground">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" 
			data-text="Load XML view"
			data-view-name="de.blue_danube_it.blueui5.views.sandbox.marius.xmlView"
			data-view-type="XML"
			data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked"
			data-use-button="true"
			data-use-button-tag="true"
			data-button-class="primary"></div>
	</div>
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Go to the HTML playground">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" 
			data-text="Load HTML view"
			data-view-name="de.blue_danube_it.blueui5.views.sandbox.marius.htmlView"
			data-view-type="HTML"
			data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked"
			data-use-button="true"
			data-use-button-tag="true"
			data-button-class="primary"></div>
	</div>
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Go to the JS playground">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" 
			data-text="Load JS view"
			data-view-name="de.blue_danube_it.blueui5.views.sandbox.marius.jsView"
			data-view-type="JS"
			data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked"
			data-use-button="true"
			data-use-button-tag="true"
			data-button-class="primary"></div>
	</div>
	<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.SubHeading" data-header-text="Go to the JSON playground">
		<div data-sap-ui-type="de.pksoftware.bootstrapui5.controls.Link" 
			data-text="Load JSON view"
			data-view-name="de.blue_danube_it.blueui5.views.sandbox.marius.jsonView"
			data-view-type="JSON"
			data-clicked="de.blue_danube_it.blueui5._static.onLinkClicked"
			data-use-button="true"
			data-use-button-tag="true"
			data-button-class="primary"></div>
	</div>
</div>
</template>